@import "compass/reset";
@import "compass/typography/text/replacement";
@import "compass/css3";
@import "common";
@import "flexslider";

body{background:#ecebeb url(/images/bg.jpg) no-repeat 0 0;background-size:100% 444px;padding-top:39px;
  h2{color:#333;font:bold 16px 'HarabaraHandItalic',cursive;margin-bottom:5px;}
  h3{color:#333;font:italic 18px Georgia,serif;margin-bottom:5px;}
  p,.tweets li{font:13px Calibri,Arial,sans-serif;color:#666;margin-bottom:15px;}
}
  .lt-ie9 body{background-image:none;}

  .wrapper { width:960px;margin:0 auto; }
  .social{position:absolute;top:0;left:0;width:100%;background:#ddb027;padding:3px 0;border-bottom:1px solid #efc442;height:32px;
    ul{padding-left:5px;
      li{float:left;margin-right:3px;
        a{ @include social-btn;
          &.github{ @include replace-text( $socialimg, 0, 0 ); }
          &.linkedin{ @include replace-text( $socialimg, 0, -32px ); }
          &.twitter{ @include replace-text( $socialimg, 0, -128px ); }
          &.gplus{ @include replace-text( $socialimg, 0, -64px ); }
          &.forrst{ @include replace-text( $socialimg, 0, -96px ); }
        }
      }
    }
    
  }
  
  #content{width:960px;margin:0 auto;padding-bottom:30px;
    header{background:#000 url(/images/bg_hdr.png) repeat-x 0 55px;height:90px;position:relative;
      & > *{margin:0;}
      h1{color:#fff;font:25px 'HarabaraHandItalic',cursive;position:absolute;left:20px;bottom:0;
        b{font-weight:900;font-size:36px;}
      }      
      nav{position:absolute;right:20px;top:-39px;
        li{display:inline-block;*display:inline;zoom:1;padding:98px 10px 25px 10px;
          a{color:#c5bfab;text-decoration:none;font:14px 'Oxygen', Arial,sans-serif;
            &:hover{color:#fff;}
          }
          &.active{@include border-bottom-radius(5px);background:#a51a03 url(/images/ornament.png) no-repeat 50% 92%; @include box-shadow(rgba(black, 0.5) 1px 1px 15px); }
        }
      }
    }
    .no-backgroundsize & header{ @include box-shadow(#666 1px 1px 8px);}
    
    .pov{padding:0;@include common-bg;padding-top:20px;}
    &>article{@include common-bg;padding:15px 20px;
    
    }
    
    .mod{float:left;width:29%;background:url(/images/div.png) no-repeat 100% 50%;padding:0 1em;min-height:244px;
      &:last-child{background-image:none;clear:none;}
      h2{text-align:center;}
      h3{clear:left;margin:10px 0 0 0;}
      ul{margin-bottom:10px;
        li{float:left;}
      }
      .tweets li a{color:#ddb027;}
      img{float:left;padding:5px 4px;width:50px;height:75px;
        &:nth-child(1n-4){padding:5px 4px 5px 0;}
      }
      .skills{line-height:25px;
        a,a:visited{background:#ccc;color:#292929;padding:3px 4px;cursor:pointer;text-decoration:none;text-shadow: 0 -1px 0 rgba(0,0,0,.3);}
        a:hover{background:#fff;}
      }
    }
  }

  footer{ border-top:1px solid #ddd;text-align:center;padding:10px 0;
    @include background-image(linear-gradient(white, #ecebeb));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#dddddd');
    li{display:inline;
      a{ @include social-btn;
        &.github{ @include replace-text( $socialimg, 0, 0 ); }
        &.linkedin{ @include replace-text( $socialimg, 0, -32px ); }
        &.twitter{ @include replace-text( $socialimg, 0, -128px ); }
        &.gplus{ @include replace-text( $socialimg, 0, -64px ); }
        &.forrst{ @include replace-text( $socialimg, 0, -96px ); }
      }
    }
    p{font:bold 11px/18px Calibri,Arial,sans-serif;margin-top:5px;}
  }

@media screen and (min-width: 0) and (max-width: 959px) {
  body{background-image:none;}
  #content,.wrapper{width:100%;}
}

@media screen and (max-width: 750px) {
  #content header{
    h1{font:14px Georgia,serif;color:#000;left:inherit;right:5px;top:-29px;
      & b{font-size:13px;}
    }  
    nav{position:absolute;right:5px;top:0;
      li{padding:59px 10px 25px 10px;}
    }
  }  
  #content .mod{width:95%;padding:0 2%;float:none;background:none;min-height:inherit !important;margin-bottom:20px;}
}

@media screen and (max-width: 480px) {
  .social ul{display:none;}
  #content header{margin-bottom:40px;
    h1{left:5px;right:inherit;}
  }
  #content .pov{display:none;}
}